@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }
}

html {
  scroll-behavior: smooth;
}

.gradient-background {
  background: radial-gradient(
    48.42% 48.42% at 49.41% 51.58%,
    rgba(46, 88, 255, 0.34) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
  width: 100%;
  max-width: 1064px;
  height: 100%;
  max-height: 1064px;
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2,
h3,
h4,
h5,
h6 {
  @apply scroll-mt-24;
}
